/*=========================== FONT ==========================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*=========================== VARIABLES ==========================*/

:root {
  --main-color: #424242;
  --second-color: #4b75b5;
}

/*=========================== STYLES ==========================*/
* {
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: var(--main-color);
  font-family: "Poppins", sans-serif;
  color: white;
}

.header__container {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header__logo {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.header__navbar a {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2rem;
  transition: 0.3s ease-in-out;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.header__navbar a:hover {
  color: var(--second-color);
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10% 0;
}

.home__container {
  max-width: 700px;
}

.home__container h3 {
  font-size: 2rem;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home__container h3:nth-of-type(2) {
  margin-bottom: 2rem;
  font-weight: 500;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home__container h3 span {
  color: var(--second-color);
}

.home__container h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 2rem 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.3s;
}

/* .home-img img {
  max-width: 450px;
  margin-right: -20px;
} */

.home__socialmedia a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--second-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--second-color);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.home__socialmedia a:hover {
  background: var(--second-color);
  color: var(--main-color);
  box-shadow: 0 0 10px var(--second-color);
}

.home__btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin-right: 1rem;
  border-radius: 40px;
  border: 2px solid var(--second-color);
  background: var(--second-color);
  font-size: 16px;
  color: var(--main-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
  transition: 0.3s ease-in-out;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
}

.home__btn:hover {
  background: var(--second-color);
  box-shadow: 0 0 10px var(--second-color);
  color: white;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 10%;
  gap: 2rem;
  background-color: #505050;
}

.about__head {
  text-align: center;
  font-size: 4.5rem;
}

.about__container h2 {
  text-align: left;
  line-height: 1.2;
}

.about__container h3 {
  font-size: 2.6rem;
}

.about__container p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* KEYFRAMES ANIMATION */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
